body{
    width: 100%;
    height:auto;
}

#header{
    width: 100%;
    color:#778899;
    text-decoration: none;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin-right: 20px;
}

#header-top li:first-child{
    margin-right: auto;
}

h1{
    background-color:red;
    width: 20%;
    font-size: 18px;
    color:#636363;
}
